html {
	box-sizing: border-box;
	font-size: 100%
}

*,
:after,
:before {
	box-sizing: inherit
}

body {
	background-color: #041421;
	color: #fff;
	min-height: 100vh;
	text-align: center;
	font-family: Poppins, sans-serif;
/*	overflow:hidden;
*/}

.logo {
	width: 250px
}

h1 {
/*	padding: 5px 5px;
*/	font-size: 80px;
	font-weight: 600;
	letter-spacing: 1px;
}

h2 {
	display: block;
	max-width: 700px;
	margin: 0 auto 15px;
	font-size: 30px;
	font-weight: 500;
	color: #fff;
	text-decoration: none;
}

h3 {
	display: block;
	max-width: 700px;
	margin: 0 auto 15px;
	font-size: 14px;
	font-weight: 100;
	color: #fff;
	text-decoration: none;
}

.button {
	display: inline-block;
	max-width: 700px;
	margin: 10px 10px;
	font-size: 14px;
	font-weight: 100;
	color: #fff;
	text-decoration: underline;
	transition: all .2s ease-in-out
}